:root { 
--gray_600:#748c70; 
--gray_700:#5a6d57; 
--purple_200:#cfa5e9; 
--blue_gray_100:#d1d9cf; 
--light_blue_200:#7cc3eb; 
--gray_800:#404040; 
--lime_800:#8f9125; 
--blue_gray_100_01:#cbcbcb; 
--gray_900:#202020; 
--gray_900_01:#272f25; 
--gray_200:#f0f2ef; 
--black_900:#0c0c0c; 
--white_A700:#ffffff; 
--indigo_800:#19408d; 
}